---
import { Image } from "astro:assets";

interface Props {
  small: boolean;
  link: string;
  title: string;
  description: string;
  picture: string;
  tags: string[];
  tagline: string;
}

const { small, title, link, picture, tagline ,description, tags } = Astro.props;
---

<a href={link} class:list={["container", { small: small }]}>
  {
    small ? (
      <img
        class="picture"
        src={`/assets/project-icons/${picture}`}
        alt="hello"
      />
    ) : (
      <div class="grid">
        <img
          class="picture"
          src={`/assets/project-icons/${picture}`}
          alt="hello"
        />
        <div class="titles"><h3 class="title">{title}</h3><p class="tagline">| &nbsp;&nbsp;{tagline}</p></div>
        <div class="tags">
          {tags.map((tag: string) => <div class="tag">{tag}</div>)}
        </div>
        <p class="description">{description}</p>
      </div>
    )
  }
</a>

<style lang="scss">
  .container {
    color: #c8c8c8;
    @media (max-width: 1200px) {
      height: 100px;
      margin: 20px 0 20px 0;
      box-sizing: border-box;
    }

    display: flex;
    width: 100%;
    height: 200px;
    margin-top: 50px;
    transition: 0.3s ease-in-out;
    padding: 10px;
    border-radius: 11px;

    @media (min-width: 1200px) {
      &:hover {
        transform: scale(1.1);
        background-color: white;

        & > .grid {
          & > .title,
          & > .description {
            filter: invert(1);
          }
        }
      }
    }
  }

  .small {
    width: fit-content;
    box-sizing: border-box;
    &:hover {
      transform: scale(0.9);
    }
  }

  .grid {
    display: grid;
    grid-template-rows: 0.5fr 0.2fr 1fr;
    grid-template-columns: 200px 3fr;
    width: 100%;

    @media (max-width: 1200px) {
      grid-template-columns: 100px 3fr;
    }
  }

  .picture {
    transition: 0.3s ease-in-out;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
    grid-area: 1 / 1 / 4 / 2;
  }

  .title {
    font-size: 50px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 10px;
    display: flex;
    width: fit-content;
    min-width: fit-content;
    margin: 0;

    @media (max-width: 1200px) {
      font-size: 15px;
    }
  }

  .titles {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .tagline {
    font-size: 25px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media (max-width: 1200px) {
      font-size: 15px;
    }

  }

  .tags {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    padding: 10px;

    @media (max-width: 1200px) {
      display: none;
    }
  }

  .tag {
    color: black;
    width: max-content;
    font-family: "Courier New",Courier,monospace;
    font-weight: bold;
    height: 100%;
    background-color: #82cac2;
    border-radius: 100px;
    box-sizing: border-box;
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 20px;

    @media (max-width: 1200px) {
      font-size: 10px;
      margin: 0 5px;
    padding: 2px 5px;
    }
  }

  .description {
    display: -webkit-box;
    overflow: hidden;
    margin: 0;
    padding: 0 10px;
    font-size: 20px;
    -webkit-box-orient: vertical;
    max-width: 100%;
    -webkit-line-clamp: 4;
    line-clamp: 4;

    @media (max-width: 1200px) {
      font-size: 12px;
      grid-area: 2 / 2 / 4 / 3;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      line-height: 1.5em;
    }
  }
</style>
