---
import { ViewTransitions } from "astro:transitions";
import Page from "../../components/page/page.astro";
import { getCollection } from "astro:content";
import Project from "../../components/project/project.astro";

const allProjects = await getCollection("projects");
---

<html transition:animate="fade" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://use.typekit.net/zil5gof.css" />
    <link rel="stylesheet" href="/styles/global.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Tungstun | Projects</title>
    <ViewTransitions />
  </head>
  <body>
    <Page title={"| projects"}>
      {
        allProjects.map((project) => (
          <Project
            title={project.data.title}
            link={`projects/${project.slug}`}
            description={project.data.description}
            picture={project.data.image.url}
          />
        ))
      }
    </Page>
  </body>
</html>
