---
import Page from "../components/page/page.astro";
import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";
import  SpeedInsights  from "@vercel/speed-insights/astro"

const { frontmatter } = Astro.props;

---

<html transition:animate="fade" lang="en">
  <head>
    <SEO
      title={`${frontmatter.title} - ${frontmatter.tagline}`}
      description={frontmatter.description}
      openGraph={{
        basic: {
          title: `${frontmatter.title} - ${frontmatter.tagline}`,
          type: "article",
          image: frontmatter.image.url
        }
      }}/>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://use.typekit.net/zil5gof.css" />
    <link rel="stylesheet" href="/styles/global.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Tungstun</title>
    <ViewTransitions />
  </head>
  <body>
    <SpeedInsights />
    <Page title={frontmatter.title} tagline={frontmatter.tagline}>
      <div class="tags">
        {frontmatter.tags.map((tag: string) => <div class="tag">{tag}</div>)}
      </div>
      <div class="content"><slot /></div>
    </Page>
  </body>
</html>

<style lang="scss">
  .tags {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    max-height: 30px;
    cursor: pointer;
  }

  .content {
    font-size: 20px;
    width: 100%;
    @media (max-width: 1200px) {
      font-size: 15px;
      
    }

  }

  .tag {
    display: inline-block;
    text-align: left;
    white-space: nowrap;
    font-size: 20px;
    margin-right: 15px;
    background-color: #82CAC2;
    color: black;
    padding: 5px 10px;
    border-radius: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: max-content;
  }
</style>
